{% extends "layout.html" %}
{% block title %}Add new spell{% endblock %}
{% block content %}
<h2>Add new spell</h2>
<form action="/add_spell" method="post">
    <p>
        <label for="name">Spell name: </label>
        <input type="text" name="name" required placeholder="e.g. Abrakadabra" maxlength="51" autofocus>
    </p>
    <p>
        <label for="level">Level: </label>
        <input type="number" name="level" value="1" required min="0" max="9">
    </p>
    <p>
        <label for="cast_time">Casting time: </label>
        <input type="text" name="cast_time" placeholder="e.g. 1 minute" required>
    </p>
    <p>
        <label for="duration">Duration: </label>
        <input type="text" name="duration">
    </p>
    <p>
        <label for="range_area">Range/area: </label>
        <input type="text" name="range_area">
    </p>
    <p>
        <label for="components">Components: </label>
        <input type="text" name="components">
    </p>
    <p>
        <label for="school">School: </label>
        <input type="text" name="school" required>
    </p>
    <p>
        <label for="attack_save">Attack/save: </label>
        <input type="text" name="attack_save">
    </p>
    <p>
        <label for="damage_effect">Damage/effect: </label>
        <input type="text" name="damage_effect">
    </p>
    <p>
        <label for="description">Description: </label>
        <textarea id="description" name="description" rows="4" cols="56">Description of the spell
        </textarea>
    </p>
    <p>
        <input type="submit" value="Submit">
</form>
{% endblock %}