{% extends "layout.html" %}
{% block title %}Character sheet - {{ character.character_name }} {% endblock %}
{% block content %}
<h2>{{ character.character_name }}</h2>
<p>
    Level {{ character.level }} {{ character.race }} cleric
</p>
<p style="line-height: 1.5">
    Strength: {{ character.strength }} ( {{ modifier.strength }} ) <br>
    Dexterity: {{ character.dexterity }} ( {{ modifier.dexterity }} ) <br>
    Constitution: {{ character.constitution }} ( {{ modifier.constitution }} ) <br>
    Intelligence: {{ character.intelligence }} ( {{ modifier.intelligence }} ) <br>
    Wisdom: {{ character.wisdom }} ( {{ modifier.wisdom }} ) <br>
    Charisma: {{ character.charisma }} ( {{ modifier.charisma }} ) <br>
</p>

<p style="line-height: 1.2; font-size: medium;">
    Skills:<br>
    Acrobatics <min>(Dex)</min> {{ character.acrobatics }} <br>
    Animal Handling <min>(Wis)</min> {{ character.animal_handling }} <br>
    Arcana <min>(Int)</min> {{ character.arcana }} <br>
    Athletics <min>(Str)</min> {{ character.athletics }} <br>
    Deception <min>(Cha)</min> {{ character.deception }} <br>
    History <min>(Int)</min> {{ character.history }} <br>
    Insight <min>(Wis)</min> {{ character.insight }} <br>
    Intimidation <min>(Cha)</min> {{ character.intimidation }} <br>
    Investigation <min>(Int)</min> {{ character.investigation }} <br>
    Medicine <min>(Wis)</min> {{ character.medicine }} <br>
    Nature <min>(Int)</min> {{ character.nature }} <br>
    Perception <min>(Wis)</min> {{ character.perception }} <br>
    Performance <min>(Cha)</min> {{ character.performance }} <br>
    Persuasion <min>(Cha)</min> {{ character.persuasion }} <br>
    Religion <min>(Int)</min> {{ character.religion }} <br>
    Sleight of Hand <min>(Dex)</min> {{ character.sleight_of_hand }} <br>
    Stealth <min>(Dex)</min> {{ character.stealth }} <br>
    Survival <min>(Wis)</min> {{ character.survival }} <br>
</p>

{% if session.user_id == character.user_id %}
<p>
    <a href="{{ character.id }}/edit">Edit character</a>
</p>
{% endif %}
{% endblock %}