{% extends "layout.html" %}
{% block title %}Front page{% endblock %}

{% block content %}
{% if session.user_id %}
<p><a href="/new_character"> Create a new character</a>
</p>
<ul>
    {% for character in chars %}
    <li> <a href="/character/{{ character.char_id }}">{{ character.character_name }}</a>
        {% endfor %}
</ul>

{% else %}
<p>
<form id="login" action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Log in"><br>
    <p>
        Not registered yet? <a href="/register">Sign up here!</a>
    </p>
</form>
</p>
<p>
    <i>
        Embark on a journey of boundless faith and mystic might with the Divine Dicekeeper, the interactive character sheet designed exclusively for Dungeons and Dragons clerics. 
    </i>
</p>
<p>
    Uniting tradition with technology, this app redefines how you engage with your cleric's destiny, bringing an entire universe of divine power to your fingertips.
</p>

{% endif %}
{% endblock %}