<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Divine Dicekeeper - {% block title %}{% endblock %}</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1><a href="/">Divine Dicekeeper</a>
            <span>Unleash the Divine Power Within </span></h1>
    </div>
    {% if session.user_id %}
    <p>Logged in as <span style="color: #202020; font-weight:bold;">{{ session.username }}</span> | <a
            href="/logout">Log out</a></p>
    <hr>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>