<form action="/new_character" method="post">
character name: <input type="text" name="character_name">
<p>
speed: <input type="text" name="speed">
<p>
race: <input type="text" name="race">
<p>
level: <input type="text" name="level">
<p>
wisdom: <input type="text" name="wisdom">
<p>
strength: <input type="text" name="strength">
<p>
charisma: <input type="text" name="charisma">
<p>
dexterity: <input type="text" name="dexterity">
<p>
constitution: <input type="text" name="constitution">
<p>
intelligence: <input type="text" name="intelligence">
<p>                                                                                                                                                                                                                                                                        
    <input type="submit" value="Submit">
</form>
